
    *{
        margin: 0;
        padding: 0;
    }
    html{
        font-size: 26.67vw;
        background-color: rgb(246, 246, 246)
    }
    header{
        width: 100%;
    }
    header img{
        width: 100%;}
        .top{
            width: 100%;
            font-size: 0.16rem;
            display: flex;
            justify-content: space-around;

        }
        .top p:nth-of-type(1) span{ 
            /* width: 42%; */
            font-size: 0.2rem;
            color: rgb(227, 54, 130);

        }
        .top p:nth-of-type(2){
            color: white;
            width: 1.2rem;
            text-align: center;
           background-color: rgb(250, 125, 130);
           border-radius:10px;
        }