*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
html{
    font-size:26.67vw;
    background: rgb(240, 240, 240)
}
html,body{
    width: 100%;
    height: 100%;;
}
.top{ background: white;
    height: 0.88rem;
}
.nav{
    width: 100%;
    height:0.4rem;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    flex-wrap: nowrap;
   
}
.nav span{
    display: inline-block;
    font-size: 0.14rem;
    line-height: 0.4rem;
    font-weight: bold;
}
/* .nav span{
    height: 100%;
} */
.nav span:nth-of-type(3){
    margin-left: 0.05rem;
}
.nav span:nth-of-type(4){
    margin: 0 0.2rem;
}
.n_b{
    width: 100%;
    /* 解决计算机解析时会把空格或者换行也变为100px的问题盒子撑开问题 */
    font-size: 0;
}
.n_b a:nth-of-type(1){
    width: 20%;
    margin-left: 0.16rem;
    display: inline-block;
    color: rgb(255, 102, 51);
    font-size: 0.18rem;
}

.n_b input{
    text-align: center;
    border-radius: 0.3rem;
    font-size: 0.14rem;
    border: none;
    height: 0.3rem;;
    background: rgb(232, 232, 232);
   width: 65%;
}
.n_b input:focus{
    border: none;
}
.n_b img{
    position: absolute;
    width: 0.17rem;
    height: 0.2rem;
    left: 1.11rem;
    top:0.45rem;
}
.center{
    padding: 0 0.16rem;
    box-sizing: border-box;
    background-color: white
}
.banner{
    margin-top: 0.12rem;
    padding: 0 0.16rem;
   height: 0.7rem;
   line-height: 0.7rem;
    font-size: 0.16rem;
position: relative;
background: white;
}
.banner span:nth-of-type(1){
    font-size: 0.2rem;
}
.banner span:nth-of-type(2){
position: absolute;
color: rgb(153, 153, 153);
right: 0.40rem;
    
}
.main{
    margin-top: 0.12rem;
    background: white;
}
.main ul{
    overflow: hidden;
    border-bottom:1px solid gray; 
margin-bottom: 0.2rem;
}
.main li{
    text-align: center;
    width: 0.7rem;
    height: 0.54rem;
    line-height: 0.54rem;
    float: right;
font-weight: bold;
font-size: 0.16rem;
}
.main li:nth-of-type(2){
    width: 0.2rem;
    text-align: right;
}
.out{
    position:absolute;
    top:0.54rem;
    right:0.27rem ;
    border-color:rgb(242, 182, 35) transparent  transparent transparent;
    border-style:dashed dashed solid dashed;
    border-width:8px;
    
}

.main li:nth-of-type(1){
    line-height: 0.22rem;
    position: absolute;
    background: rgb(242, 182, 35);
}
h5{
    width: 93%;
    font-size: 0.16rem;
}
.log img,.main-bottom img{
    width: 92%;
}
.main-bottom{
    margin-top: 0.1rem;
}
footer {
    margin-top: 0.2rem;
    width: 100%; color: rgb(240, 240, 240);
    /* position: fixed;
    bottom: 0; */
   
}
footer a{
    display: block;
    width: 25%; 
    float: left;
    text-align: center;
    font-size: 0.16rem;
   color: rgb(191, 191, 191);
}
/* footer p{
    
} */
